.message{
    /* padding: 10px; */
    margin: 10px;
    width: fit-content;
    text-overflow: ellipsis;
}



.message_card{
    /* padding: 10px; */
    margin: 10px; 
    width: fit-content;
    box-sizing: border-box;
}

.message_sender{
    margin-left: auto;
    text-align: left;
    width: fit-content;
    background-color: #0084FF !important;
    color: #fff
}

/* .message_sender{
    
} */

.message_receiver{
    background-color: #f1f0f0 !important;
}